* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: 0.3s ease;
    background-color: #ffffff ;;
}

/* Light Mode Colors */
:root {
    --bg: #ffffff;
    --text: #000000;
    --primary: rgb(220 208 208);
    --card: #ffffff;
}

/* Dark Mode Colors */
.dark {
    --bg: #121212;
    --text: #fff;
    --primary: #4dabf7;
    --card: #141313;
}

body {
    background: var(--bg);
    color: var(--text);
}

/* Dark Mode Button */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 22px;
    padding: 10px;
    background: var(--primary);
    border-radius: 50%;
    cursor: pointer;
    z-index: 200;
}
.menu-toggle {
    display: none;
}

/* Navigation */
.header {
    width: 85%;
    margin: 20px auto;
    padding: 15px 40px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li {
    margin-left: 50px;
    box-sizing: var(--card);
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
}

.menu-btn {
    padding: 14px 28px;
    background: var(--primary);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
}

/* Buttons */
.btn {
    padding: 14px 28px;
    background: rgb(220 208 208);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    font-size: 16px;
    font-weight: 500;
    
}

.download-btn {
    background: rgb(220 208 208);
    font-weight:500;
   
}

.btn:hover {
    transform: scale(1.05);
}

/* Hero Section */
.hero {
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
}

.hero-img img {
    width: 250px;
    margin-top: 30px;
}

.hero-text h1 {
    font-size: 40px;
}
/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Sections */
section h2 {
    text-align: center;
    font-size: 50px;
    margin: 80px 0 20px;
}

.about,
.skills,
.projects,
.contact {
    margin-left:auto;
    padding: 40px 20%;
}

/* About */
.about-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-box div {
    width: 48%;
    background: var(--card);
    padding: 20px;
    border-radius: 8px;
}

/* Skills */
@keyframes continuousSlide {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(calc(100vw + 500px));
        opacity: 0;
    }
}

.skill-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.skill {
    padding: 16px 28px;
    background: var(--primary);
    color: rgb(0, 0, 0);
    margin: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    animation: continuousSlide 10s linear infinite;
}

.skill:hover {
    transform: scale(1.1);
}

/* Projects */
.project-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.project-card {
    width:100%;
    max-width: 600px;
    background: var(--card);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    width: calc(100% + 30px);
}

.project-card h3 {
    padding: 10px 15px 0;
}

.project-card p {
    padding: 5px 15px;
}

.project-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background: var(--text);
    color: var(--bg);
    border-radius: 10px;
    text-decoration: none;
}

/* Contact Form */
.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    border: none;
    background: var(--card);
    color: var(--text);
}

/* Footer */
footer {
    background: var(--card);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
/* ===== MOBILE NAVIGATION ===== */
@media (max-width: 768px) {

    body {
        background-color: var(--bg);
        overflow-x: hidden;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 80px 20px;
    }

    .hero-img img {
        width: 250px;
        margin-top: 30px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .about-box {
    flex-direction: column;
}

.about-box div {
    width: 100%;
    margin-bottom: 20px;
}

    .about,
    .skills,
    .projects,
    .contact {
        padding: 40px 20px;
    }

    .skill-container {
        width: 100%;
    }
}